{% extends 'base.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block body %}
    <h1>Vehicule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Kilometrage</th>
                <th>Niveau_essence</th>
                <th>Nb_place</th>
                <th>EstAutomatique</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>
                <td>{{ vehicule.libelle }}</td>
                <td>{{ vehicule.kilometrage }}</td>
                <td>{{ vehicule.niveauEssence }}</td>
                <td>{{ vehicule.nbPlace }}</td>
                <td>{{ vehicule.estAutomatique ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('vehicule_show', {'id': vehicule.id}) }}">show</a>
                    <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehicule_new') }}">Create new</a>
{% endblock %}
