{% extends 'base.html.twig' %}

{% block title %}TypeVehicule{% endblock %}

{% block body %}
    <h1>TypeVehicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_vehicule.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ type_vehicule.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_vehicule_index') }}">back to list</a>

    <a href="{{ path('type_vehicule_edit', {'id': type_vehicule.id}) }}">edit</a>

    {{ include('type_vehicule/_delete_form.html.twig') }}
{% endblock %}
